/* General design and index page */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: Arial;
}
mark {
  color: #3492ad;
  background: none;
}
header {
  background-color: #3492ad;
  height: 25em;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}
header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-left: 10rem;
  width: 70%;
}
header h2 {
  margin-left: 10rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
  width: 25%;
}
header nav{
  background-color: #e0dede;
  height: 6em;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
}
header nav ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10rem;
  margin-top: 2.5em;
}
header nav ul li{
  margin: 0;
  list-style: none;
  font-weight: bold;
}
.nav-separator {
  border-right-style: solid;
  border-right-color: #595757;
  padding-right: 1rem;
  margin-right: 1rem;
}
.nav-link {
  color: #595757;
}
main {
  margin-top: 28em;
  margin-left: 10rem;
  margin-right: 10em;
  margin-bottom: 5em;
}
h3.intro {
  color: #3492ad;
  margin-top: 0;
}
.content-box {
  float: left;
  width: 70%;
  margin-right: 5em;
}
.sidebar::after{
  content: "";
  display: block;
  clear: both
}
blockquote {
  margin: 3em;
  color: #3492ad;
  font-size: 1.5rem;
  font-weight: lighter;
}
.sidebar h3 {
  text-transform: uppercase;
}
.sidebar a {
  color: #3492ad;
}
.weekly-cat {
  margin-top: 3rem;
}
.page-footer {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #403c3c;
  width: 100%;
  height: 20em;
  margin: 0;
}
.page-footer p {
  width: 400px;
  color: white;
  margin: 1.5rem;
}
.page-footer section {
  margin: 5rem;
  font-size: .75rem;
}
.page-footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li.separator {
  border-right-style: solid;
  border-right-color: white;
  padding-right: 1rem;
  margin-right: 1rem;
}
.page-footer li {
  list-style: none;
}
.footer-link {
  color: white;
  font-weight: bold;
}
/* Cat of the week page*/
.cotw-img {
  float: right;
  margin: 0 0 2em 2em;
}
main.cotw::after {
  content: "";
  display: block;
  clear: both
}
h3.cotw-intro {
  color: #3492ad;
  margin-top: 0;
  font-size: 3em;
}
