* {
  box-sizing: border-box;
}
/* .content-box {
  float: left;
} */
/* .sidebar {
  float: left;
} */
header {
  background-color: #41accc;
  height: 20em;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
}
header nav ul {
  background-color: #d3d3d3;
  height: 8em;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}
ul li{
  list-style: none;
  flex-basis: 10em;
}
main {
  margin-top: 20em;
}


/* main {
  overflow: auto;
} */
/* section {
  margin-top: 12rem;
  overflow: auto;
} */
/* footer {
  background-color: grey;
} */
