* {
  box-sizing: border-box;
}
header {
  background-color: #41accc;
  height: 20em;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
}
header nav ul {
  background-color: #d3d3d3;
  height: 8em;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
ul li{
  list-style: none;
  flex-basis: 10em;
}
main {
  margin-top: 20em;
  margin-left: 10em;
  margin-right: 10em;
}
.content-box {
  float: left;
  width: 75%;
}
.sidebar {
  overflow: hidden;
}
.page-footer {
  clear:both;
  background-color: grey;
}
